$dark-blue: #1d2532;
$dark-blue-2: #323E51;
$dark-blue-3: #303B4D;
$dark-blue-4: rgba(51, 62, 82, 0.6);
$black-1: #000;
$black-2: #242424;
$white: #fff;
$gray-1: #cecece;
$gray-2: #24242480;
$gray-3: #293344;
$green-1: #C3F33B;
$green-2: #1DD844;
$green-3: #29D15940;
$green-4: #C3F33A40;
$yellow: #CBF62E;
$violet-1: #5F38FF8C;
$violet-2: #FF0EDE8C;
$orange: #f19411;