include _button-outline

mixin header-menu 
  .header__menu 
    a.header__menu__item(href="#") Главная
    a.header__menu__item(href="#") Что даст обучение
    +button-outline('#', 'Личный кабинет')(class="btn-outline")